ul {
    list-style-type: none;
}

body,
html {
    height: 100%;
}

li {
    float: left;
    padding: 20px;
}

li a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

#navbar {
    height: max-content;
    width: max-content;
    margin-left: 1200px;
    margin-top: -50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.bg-img {
    background-image: url("/MyWebsite/media/boss6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.bg-text {
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    position: absolute;
    padding: 5px;
    margin-top: 100px;
    outline: none;
    color: rgb(0, 0, 0);
}

#logo {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 30px;
    margin-left: 40px;
    margin-top: -7px;
    opacity: 1;
}

#logo1 {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 30px;
}

#logo:hover {
    transform: rotate(-360deg) scale(2);
    transition-duration: 0.7s;
}

#logo1:hover {
    transform: rotate(-360deg) scale(1.2);
    transition-duration: 0.7s;
}

.hovtext:hover {
    transform: scale(1.5, 1.5);
    transition-duration: 0.5s, 0.5s;
}

#login_container {

    margin-left: 750px;
    margin-top: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}

table {
    height: 350px;
    width: 300px;
}

th {
    padding-left: 10px;
}

td {
    padding-left: 40px;
}

#hireme {
    padding-left: 110px;
    font-weight: 600;
}

#mail_id {
    font-size: large;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    margin-top: -50px;
    border-radius: 30px;
    font-weight: 700;
}

#mail_id a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

input[type=button] {
    height: 30px;
    width: 150px;
    margin-left: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

input[type=button]:hover {
    background-color: rgba(0, 0, 0, 0.9);

}

#foot_icon {
    position: absolute;
    z-index: 2;
    height: 200px;
    width: 200px;
    margin-top: 300px;
    margin-left: -20px;

}

#foot_icon figure img {
    height: 50px;
    width: 50px;
    padding: 20px;
}

.icon:hover {
    transform: rotate(-360deg) scale(2);
    transition-duration: 0.7s;
}