#img_slide {
    position: absolute;
    z-index: 2;
    height: 500px;
    width: 700px;
    margin-left: 400px;
    margin-top: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
}

#img_slide img {
    height: 300px;
    width: 500px;
    /* margin-left: 500px; */
}

@keyframes img_slide {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }

}

#img_slide figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s img_slide infinite;

}

#img_slide figure img {
    width: 20%;
    float: left;

}

#img_slide figure:hover {
    animation-play-state: paused;
}

ul {
    list-style-type: none;

}

body,
html {
    height: 100%;
}


li {
    float: left;
    padding: 20px;
}

li a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}



#navbar {
    height: max-content;
    width: max-content;
    margin-left: 1300px;
    margin-top: -50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;

}

.bg-img {
    background-image: url('/MyWebsite/media/boss6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    filter: blur(6px);
    -webkit-filter: blur(6px);
}

.bg-text {
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 2;
    position: absolute;
    padding: 5px;
    margin-top: 100px;
    outline: none;
    color: rgb(55, 55, 55);
}

#logo {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 30px;
    margin-left: 40px;
    margin-top: -7px;
    opacity: 0.9;

}

#logo1 {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 30px;
    opacity: 0.9;

}

#logo:hover {
    transform: rotate(-360deg) scale(2);
    transition-duration: 0.7s;

}



#logo1:hover {
    transform: rotate(-360deg) scale(1.2);
    transition-duration: 0.7s;

}

.hovtext:hover {

    transform: scale(1.5, 1.5);
    transition-duration: 0.5s, 0.5s;
}

#dropdwn {
    /* margin-top: 200px; */
    position: relative;
    display: inline-block;
    z-index: 1;
}

.ddcontent {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: absolute;
    padding: 10px;
    /* margin-top: 100px; */
    outline: none;
    margin-left: 50px;
    color: rgb(55, 55, 55);
    /* color: white; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.ddcontent a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 600;
    color: white;
    padding: 12px 16px;
    display: block;
}

.ddcontent a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#dropdwn:hover .ddcontent {
    display: block;
}

#head_text {
    margin-left: 400px;
    margin-top: 30px;
    position: absolute;
    white-space: nowrap;
    font-size: larger;
    color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

#head_t {
    font-size: xx-large;
    color: black;
    font-weight: 800;
}

#bottom_text {
    margin-left: 600px;
    margin-top: 700px;
    position: absolute;
}

.p-text {
    z-index: 2;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: larger;
}

#foot_icon {
    position: absolute;
    z-index: 2;
    height: 200px;
    width: 200px;
    margin-top: 300px;
    margin-left: -20px;

}

#foot_icon figure img {
    height: 50px;
    width: 50px;
    padding: 20px;
}

.icon:hover {
    transform: rotate(-360deg) scale(2);
    transition-duration: 0.7s;
}